Java/WSPingPongClient/src/META-INF/wsdl/localhost_8080/WSPingPong/WSPingPong.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.asysob.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.asysob.edu/">

<xs:element name="Ball_In" type="tns:Ball_In"/>

<xs:element name="Ball_Out" type="tns:Ball_Out"/>

<xs:element name="Ball_OutResponse" type="tns:Ball_OutResponse"/>

<xs:complexType name="Ball_Out">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Ball_OutResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Ball_In">
<xs:sequence>
<xs:element name="ball" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>