CSharp/WSPingPongClient/Service References/PingPongServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PingPongService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPingPongService_Ball_In_InputMessage">
    <wsdl:part name="parameters" element="tns:Ball_In" />
  </wsdl:message>
  <wsdl:message name="IPingPongService_Ball_In_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ball_InResponse" />
  </wsdl:message>
  <wsdl:message name="IPingPongService_Ball_Out_InputMessage">
    <wsdl:part name="parameters" element="tns:Ball_Out" />
  </wsdl:message>
  <wsdl:message name="IPingPongService_Ball_Out_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ball_OutResponse" />
  </wsdl:message>
  <wsdl:message name="IPingPongService_Ball_Available_InputMessage">
    <wsdl:part name="parameters" element="tns:Ball_Available" />
  </wsdl:message>
  <wsdl:message name="IPingPongService_Ball_Available_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ball_AvailableResponse" />
  </wsdl:message>
  <wsdl:portType name="IPingPongService">
    <wsdl:operation name="Ball_In">
      <wsdl:input wsaw:Action="http://tempuri.org/IPingPongService/Ball_In" message="tns:IPingPongService_Ball_In_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPingPongService/Ball_InResponse" message="tns:IPingPongService_Ball_In_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ball_Out">
      <wsdl:input wsaw:Action="http://tempuri.org/IPingPongService/Ball_Out" message="tns:IPingPongService_Ball_Out_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPingPongService/Ball_OutResponse" message="tns:IPingPongService_Ball_Out_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ball_Available">
      <wsdl:input wsaw:Action="http://tempuri.org/IPingPongService/Ball_Available" message="tns:IPingPongService_Ball_Available_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPingPongService/Ball_AvailableResponse" message="tns:IPingPongService_Ball_Available_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPingPongService" type="tns:IPingPongService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ball_In">
      <soap:operation soapAction="http://tempuri.org/IPingPongService/Ball_In" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ball_Out">
      <soap:operation soapAction="http://tempuri.org/IPingPongService/Ball_Out" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ball_Available">
      <soap:operation soapAction="http://tempuri.org/IPingPongService/Ball_Available" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PingPongService">
    <wsdl:port name="BasicHttpBinding_IPingPongService" binding="tns:BasicHttpBinding_IPingPongService">
      <soap:address location="http://localhost:4242/Design_Time_Addresses/WSPingPong/PingPongService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>