Java/WSPingPongClient/src/META-INF/wsdl/localhost_4242/PingPongService/wsdl.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="Ball_In"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ball" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="Ball_InResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="Ball_Out"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="Ball_OutResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Ball_OutResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="Ball_Available"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="Ball_AvailableResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Ball_AvailableResult" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element></xs:schema>